@page "/calljs"
@inject IJSRuntime jsr

<PageTitle>Calljs</PageTitle>

<h3>Calljs</h3>

<p>
    @* <button @onclick="ConvArray">Convert Array</button> *@
</p>

<p>
    @text
</p>

@code {
    private MarkupString text;
    // private uint[] quoteArray = new uint[]
    // {

    // }
    // private async Task ConvArray()
    // {
    //     text = new MarkupString(await jsr.InvokeAsync<string("convertArray")> )
    // }
}
